In [1]:
import pandas as pd
import glob
import os

In [2]:
caminho= "/Diogo/Ambiente de Trabalho/PROJETO/Datasets/football_data_co_uk/*.csv"
ficheiros= glob.glob(caminho)
lista_dfs = []

for filename in ficheiros:
    df = pd.read_csv(filename)
    lista_dfs.append(df)

df_jogos = pd.concat(lista_dfs, axis=0, ignore_index=True)

In [4]:
df_jogos['Date'] = pd.to_datetime(df_jogos['Date'], dayfirst=True)
df_jogos = df_jogos.sort_values('Date')
print(df_jogos.head())

  Div       Date        HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0  P1 2010-08-13        Sp Braga  Portimonense   3.0   1.0   H   2.0   0.0
1  P1 2010-08-14        Maritimo       Setubal   0.0   1.0   A   0.0   0.0
2  P1 2010-08-14           Naval         Porto   0.0   1.0   A   0.0   0.0
3  P1 2010-08-14  Pacos Ferreira     Sp Lisbon   1.0   0.0   H   0.0   0.0
4  P1 2010-08-15       Beira Mar        Leiria   0.0   0.0   D   0.0   0.0

  HTR  ...  BMGMCA  BVCH  BVCD  BVCA  CLCH  CLCD  CLCA  LBCH  LBCD  LBCA
0   H  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   D  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   D  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   D  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   D  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 194 columns]

In [10]:
df_jogos.

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'BMGMCA', 'BVCH', 'BVCD', 'BVCA', 'CLCH', 'CLCD', 'CLCA', 'LBCH',
       'LBCD', 'LBCA'],
      dtype='object', length=194)

In [11]:
df_jogos.describe()

,Date,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BWH,BWD,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
count,4425,4425.000000,4425.000000,4425.000000,4425.000000,4421.000000,4421.000000,4421.000000,4290.000000,4290.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2018-07-11 13:50:09.355932160,1.435028,1.147345,0.644746,0.508927,3.023434,3.965239,4.784293,2.952448,3.926347,...,4.473838,3.296364,3.914040,4.486061,3.378889,4.174545,4.528687,3.342525,4.145758,4.466364
min,2010-08-13 00:00:00,0.000000,0.000000,0.000000,0.000000,1.050000,2.700000,1.090000,1.050000,2.550000,...,1.170000,1.060000,2.750000,1.170000,1.110000,2.900000,1.200000,1.100000,2.870000,1.200000
25%,2015-01-18 00:00:00,0.000000,0.000000,0.000000,0.000000,1.750000,3.200000,2.400000,1.750000,3.100000,...,2.290000,1.700000,3.100000,2.250000,1.750000,3.200000,2.400000,1.740000,3.200000,2.400000
50%,2018-08-31 00:00:00,1.000000,1.000000,0.000000,0.000000,2.200000,3.400000,3.300000,2.200000,3.300000,...,3.250000,2.150000,3.300000,3.250000,2.200000,3.500000,3.400000,2.200000,3.400000,3.300000
75%,2022-03-04 00:00:00,2.000000,2.000000,1.000000,1.000000,2.900000,4.200000,4.750000,2.900000,4.200000,...,4.700000,3.150000,4.365000,4.750000,3.100000,4.600000,4.800000,3.100000,4.600000,4.800000
max,2025-11-09 00:00:00,10.000000,8.000000,5.000000,7.000000,26.000000,13.000000,34.000000,29.000000,12.000000,...,17.000000,13.000000,9.000000,23.000000,13.000000,10.000000,23.000000,13.000000,11.000000,23.000000
std,NaN,1.256769,1.143613,0.805095,0.726951,2.410973,1.320219,4.301739,2.276933,1.302208,...,3.765359,2.887183,1.222607,3.948978,2.928781,1.479038,3.875893,2.865688,1.494109,3.762785

In [13]:
df_jogos.shape

(4428, 194)

In [14]:
df_jogos.sample()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
44,P1,2010-09-26,Leiria,Rio Ave,1.0,0.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4428 entries, 0 to 1574
Columns: 194 entries, Div to LBCA
dtypes: datetime64[ns](1), float64(187), object(6)
memory usage: 6.6+ MB

In [17]:
df_jogos.describe()

,Date,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BWH,BWD,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
count,4425,4425.000000,4425.000000,4425.000000,4425.000000,4421.000000,4421.000000,4421.000000,4290.000000,4290.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2018-07-11 13:50:09.355932160,1.435028,1.147345,0.644746,0.508927,3.023434,3.965239,4.784293,2.952448,3.926347,...,4.473838,3.296364,3.914040,4.486061,3.378889,4.174545,4.528687,3.342525,4.145758,4.466364
min,2010-08-13 00:00:00,0.000000,0.000000,0.000000,0.000000,1.050000,2.700000,1.090000,1.050000,2.550000,...,1.170000,1.060000,2.750000,1.170000,1.110000,2.900000,1.200000,1.100000,2.870000,1.200000
25%,2015-01-18 00:00:00,0.000000,0.000000,0.000000,0.000000,1.750000,3.200000,2.400000,1.750000,3.100000,...,2.290000,1.700000,3.100000,2.250000,1.750000,3.200000,2.400000,1.740000,3.200000,2.400000
50%,2018-08-31 00:00:00,1.000000,1.000000,0.000000,0.000000,2.200000,3.400000,3.300000,2.200000,3.300000,...,3.250000,2.150000,3.300000,3.250000,2.200000,3.500000,3.400000,2.200000,3.400000,3.300000
75%,2022-03-04 00:00:00,2.000000,2.000000,1.000000,1.000000,2.900000,4.200000,4.750000,2.900000,4.200000,...,4.700000,3.150000,4.365000,4.750000,3.100000,4.600000,4.800000,3.100000,4.600000,4.800000
max,2025-11-09 00:00:00,10.000000,8.000000,5.000000,7.000000,26.000000,13.000000,34.000000,29.000000,12.000000,...,17.000000,13.000000,9.000000,23.000000,13.000000,10.000000,23.000000,13.000000,11.000000,23.000000
std,NaN,1.256769,1.143613,0.805095,0.726951,2.410973,1.320219,4.301739,2.276933,1.302208,...,3.765359,2.887183,1.222607,3.948978,2.928781,1.479038,3.875893,2.865688,1.494109,3.762785

In [21]:
print(f"--- Resumo Geral ---")
print(f"Total de jogos carregados: {df_jogos.shape[0]}")
print(f"Total de colunas: {df_jogos.shape[1]}")
if 'Date' in df_jogos.columns:
    print(f"Intervalo de Datas: de {df_jogos['Date'].min()} a {df_jogos['Date'].max()}")
else:
    print("AVISO: Coluna 'Date' não encontrada ou ainda não formatada.")
print("-" * 30)

--- Resumo Geral ---
Total de jogos carregados: 4428
Total de colunas: 194
Intervalo de Datas: de 2010-08-13 00:00:00 a 2025-11-09 00:00:00
------------------------------

In [23]:
if 'Epoca' in df_jogos.columns:
    print("\n--- Jogos por Época ---")
    print(df_jogos['Epoca'].value_counts().sort_index())
else:
    print("\nAVISO: Coluna 'Epoca' não encontrada.")

AVISO: Coluna 'Epoca' não encontrada.